<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pregunta-Test</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="../../static/css/fonts.css" th:href="@{/css/fonts.css}"/>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../static/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/img/favicon/favicon-16x16.png">
    <link rel="icon" type="image/vnd.microsoft.icon" href="../../static/img/favicon/favicon.ico">
    <link rel="stylesheet" href="../../static/css/app.css" th:href="@{/css/app.css}"/>
    <!-- Common scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/fdaeae8998.js" crossorigin="anonymous"></script>


</head>
<body>
<!--/*@thymesVar id="pregunta" type="com.dbhacademy.firefight.model.entity.Pregunta"*/-->
<!--/*@thymesVar id="current" type="java.lang.String"*/-->
<div th:fragment="pregunta(pregunta,current)">

    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow pregunta-header">
        <div class="mr-3 rounded smalltext-white d-flex justify-content-center align-items-center w48h84 border-white" th:text="${current}">9999</div>
        <div class="lh-100">

            <h6 class="mb-0 text-white lh-150" th:text="${pregunta?.texto}">Texto de la Pregunta</h6>
        </div>
    </div>

    <div class="my-3 p-3 bg-white small rounded box-shadow pregunta-body">
        <div class="media text-muted pt-3" th:each="respuesta,iter : ${pregunta?.getRespuestas()}">

            <div class="marco-solucion">
                <div class="pr-2 solucion" style="display: none">
                    <i class="respuesta fa fa-check-circle" th:classappend="${respuesta.isCorrecta() ? 'c' : 'f'}" th:id="${respuesta.id}"></i>
                </div>
            </div>
            <div class="media-body pb-3 border-gray" th:classappend="${ iter.last ? '' : 'border-bottom'}">
                <div class="form-check prgunta-body-check">
                    <input class="form-check-input" type="radio" th:name="${'respuestas_of_' + pregunta.id}" id="defaultCheck1" th:id="${'r_'+respuesta.id}">
                    <label class="form-check-label" th:for="${'r_'+respuesta.id}" th:text="${respuesta.texto}">Texto de la respuesta 1:  pain itself, who seeks after it and wants to have it, simply because it is pain..."
                        What is Lorem Ipsum? Lorem Ipsum is </label>
                </div>
            </div>

        </div>

    </div>

</div>

</body>
</html>
