html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  padding-top: 40px; /* height of the navbar */
  padding-bottom: 30px;
  font-family: 'Ubuntu',Arial, Helvetica, sans-serif;
  color:#193652;
}
html {
  position: relative;
  min-height: 100%;
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: var(--purple); }
.bg-red { background-color: var(--red); }
.bg-blue { background-color: var(--blue); }

/** search page **/
#btnRespuestas.active {
  background-color: var(--gray);
  border-color: var(--gray);
}
#btnAgrupaciones.active {
}
#btnTemas.active{
  background-color: var(--purple);
  border-color: var(--purple);
}


.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px; /* Set the fixed height of the footer here */
  line-height: 30px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.w48h84 {
  width: 72px;
  height: 48px;
}
.border-white {
  border: 1px solid white;
}
.font-size-075 {
  font-size: 0.75em;
}
.font-color-red {
  color:red;
}
.font-color-green {
  color:green;
}

.marco-solucion {
  min-width: 24px;
  margin-top: -2px;
  z-index: 1;
}

#menu-reloj {
  min-width: 120px;
  font-weight: lighter;
}

#button-corregir-simulacro,#button-finalizar-simulacro{
  position: fixed;
  bottom: 45px;
  right:30px;
}

.header {
  z-index: 32;
  padding: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: black;
  background-color: #192531 !important;
}

.texto-busqueda {
  font-weight: bolder;
}

.tema-id {
  font-size: 1.35em;
  font-weight: bold;
  min-width: 100px;
  text-align: center;
 }

.tema-body,.respuesta-body,.pregunta-body {
  line-height: 32px;
  cursor:pointer;
}

.respuesta-id {
  min-width: 80px;
  text-align: center;
}


.bg-gray {
  background-color: #6c757d !important;
}


.card-img-top {
  background-color: #ebfaff;
}

/** esto está puesto a pelo para que quepan 6 bloques 100 / 6 = 16,6% **/
.card-bloque {
  width: 16%;
}
/** en el movil sm min-width:100% **/
@media (max-width: 576px) {
  .card-bloque {
    min-width: 100%;
  }
  .generar-test {
    margin-top: 1.3em;
  }
}

.card-bloque .card-bloque-header {
  padding-top:5px;
  padding-left:5px;
}
.card-bloque .card-bloque-header h6 {
  font-size:0.9em;
}
.card-bloque .card-bloque-body {
  font-size:.9em;
}

.fa-fire-alt {
  background: -webkit-linear-gradient(#ffc107, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.caja-test {
  background-color: #193652;
  color:white;
}
.caja-simulacro {
  background-color: #193652;
  color:white;
}
.caja-examenes {
  background-color: #193652;
  color: white;
}
.logo-test, .logo-simulacro, .logo-examenes {
  margin-bottom: .3em;
}


.footer, .footer li a{
  color:#193652;
}
.copy {
  font-size:.7em;
  font-family: 'Ubuntu',Arial, Helvetica, sans-serif;
  font-weight: 300;
}
.contacts li {
 display: inline;
}
