<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: common_header(~{::title},~{::link})">
    <title>Firefight</title>
    <link rel="stylesheet" href="../static/css/app.css" th:href="@{/css/app.css}"/>
</head>
<body class="bg-light">
<div th:replace="~{fragments/nav :: nav}"></div>

<main role="main" class="container-fluid">

    <div class="p-3 m-3 text-white-50 bg-purple rounded">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Seleccionar Test</h6>
            <small>Selecciona los temas de los que se sacarán las preguntas.....</small>
        </div>
    </div>

    <form id="formTemas" th:action="@{/test}" th:object="${temasSeleccionados}" method="post">
        <div class="d-flex flex-wrap justify-content-center">
            <div th:each="agrupacion,iter1 : ${agrupaciones}" class="p-3 m-2 bg-white text-muted rounded shadow-sm" id="agrupacion1" th:id="${'a_' + agrupacion.id}">
                <div><h6 th:text="${agrupacion.texto}">AGRUPACION</h6></div>
                <hr/>
                <div th:each="tema,iter2 : ${agrupacion.temas}" class="form-check">
                    <input class="form-check-input" type="checkbox" th:id="${ 'chk_' + tema.id}" id="chk_id1" th:field="*{temas[__${tema.id - 1}__]}" th:value="${tema.id}">
                    <label class="form-check-label small" th:for="${'chk_' + tema.id}" for="chk_id1">
                        <span th:text="${tema.texto}" th:class="${tema.hasPreguntas() ? 'font-weight-bold' : ''}">Texto de tema 1</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="m-3 mb-3 bg-white text-muted rounded shadow-sm">
            <div class="form-group row p-3">
                <label class="col-sm-4 col-form-label" for="cbNumPreguntas" >Selecciona el número de preguntas por tema:</label>
                <div class="col-sm-4">
                    <select class="form-control form-lg" id="cbNumPreguntas" th:field="*{numPreguntasPorTema}">
                        <option value="10">10 preguntas</option>
                        <option value="20">20 preguntas</option>
                        <option value="30">30 preguntas</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-primary btn-md float-right" href="#" role="button" id="btnGenerarTest">Generar Test</a>
                </div>
            </div>
        </div>
    </form>
</main>


<div class="modal" tabindex="-1" role="dialog" id="mdlError">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="txtError">Tienes que seleccionar algún tema.....</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="mdlTest">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Generando Test Autocorrectivo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="txtTest">Vamos a generar un Test con.... </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnEmpezarTest">Vamos allá »</button>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{fragments/footer :: copy}"></div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        var formTemas = $('#formTemas');
        var btn = $('#btnGenerarTest');
        var btnTest = $('#btnEmpezarTest');
        var cbnNumPreguntas = $('#cbNumPreguntas');

        btn.on('click', function () {
            var numTemasSeleccionados = formTemas.find("input[type=checkbox]:checked").length;

            if (numTemasSeleccionados === 0) {
                var txtError = $('#txtError');
                txtError.text('Tienes que seleccionar al menos 1 tema');
                $('#mdlError').modal('show');
            } else {

                var txtTest = $('#txtTest');
                txtTest.text("Vamos a generar un contadoresTest de " + numTemasSeleccionados + " Tema con " + cbnNumPreguntas.val() + " preguntas por tema");
                $('#mdlTest').modal('show');
            }
        });


        btnTest.on('click', function () {
            formTemas.submit();
        });

    });
</script>

</body>
</html>