<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="fragments/base :: common_header(~{::title},~{::link})">
  <title>Firefight</title>
  <link rel="stylesheet" href="../static/css/app.css" th:href="@{/css/app.css}"/>
</head>
<body class="bg-light">
<div th:replace="~{fragments/nav :: nav}" th:width="examenes=${examenes}"></div>


<main role="main" class="container-fluid my-5">


  <div class="alert alert-danger" role="alert">
    <span th:text="${message}">Aqui pintaria el mensaje. </span> <a href="#" class="alert-link" th:href="@{/temas-seleccion}"> Vuelve a los temas </a>
  </div>


</main>
</body>
</html>