<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: common_header(~{::title},~{::link})">
    <title>Firefight - Test</title>
    <link rel="stylesheet" href="../static/css/app.css" th:href="@{/css/app.css}"/>
</head>
<body class="bg-light">
<div th:replace="~{fragments/nav :: nav}"></div>

<main role="main" class="container-fluid">

    <input  type="hidden" id="numPreguntasTotales" th:value="${not #lists.isEmpty(preguntas) ? preguntas.size() : '0'}">

        <input type="hidden" id="txtAciertos"/>
        <input type="hidden" id="txtErrores"/>

        <th:block th:each="pregunta,iter : ${preguntas}">

            <main role="main" th:replace="fragments/pregunta :: pregunta(${pregunta},${iter.index+1})"></main>

        </th:block>

        <small class="d-block mt-3">
                <span class="row">
                    <span class="col-sm-6">
                        <i class="fa fa-clock"></i> <span id="clock"></span>
                    </span>
                    <span class="col-sm-6 text-right pr-4">
                        <a class="btn btn-primary" href="#" role="button" id="btnCorregir">Corregir »</a>
                    </span>
                </span>
        </small>
</main>


<script src="../static/js/simulacro.js" th:src="@{/js/simulacro.js}"></script>
<script type="text/javascript">
    // <![CDATA[
    jQuery(document).ready(function () {

        var milisegundos = $('#numPreguntasTotales').val()*60*1000;
        $('#clock').text(milisegundos);
        //setTimeout(Simulacro.resolver(),$('#numPreguntasTotales').val()*60*1000);
        setTimeout(Simulacro.resolver,milisegundos);
    });
    // ]]>
</script>


<div th:insert="~{fragments/footer :: copy}"></div>
</body>
</html>